:root{
  /*--font-color: #46494b;*/
  --backrgound : #F5EFE6;
  --board: #E8DFCA;
  --lines: #54acc9;
  --grey : #60a1b6;
  --blue : #224957;
  --black: rgba(0, 0, 0, 0.918);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 /*  background-color: #F5EFE6; */
}

html {
  /* footer*/
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--background);
  color: var(--blue);
  font-family:'Varela Round', sans-serif;
  line-height: 1.6;
  /* footer*/
  margin-bottom: 80px;
}
.header{
  padding: 20px;
  border-bottom: 3px solid var(--grey);
  background-color: var(--lines);
  color: var(--grey);
  text-align: center;
}
h1{
  font-size: 6rem;
  color: var(--blue);
}
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /*?*/
  width: 100%;
  padding: 10px;
  font-size: 20px;
}
button {
  display: flex;
  font-size: 3rem;
  padding: 8px 12px;
  margin-top: 16px;
  border: 6px solid var(--grey);
  color: var(--blue);
  /* background-color: var(--lines); */
  border-radius: 30px;
  cursor: pointer;
}
.restart{
  display: flex;
  justify-content: center;
}



/* MAIN*/

.main {
  padding:0 20px;
  background-color: var(--background);
}
.status {
  font-size: 3rem;
  text-align: center;
  margin:30px;
}
.container{
  display: flex;
}

.board{
  margin-top: 16px;
  display: grid;
  grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
  border : 3px solid var(--blue);
  width: 400px;
  height: 400px;
  margin: 16px auto;
  place-items: stretch;
  background-color: var(--grey);
  border-radius: 8px;
  padding: 8px;
}

.cell{
  display:flex; /* to center text!! try find something better*/
  align-items: center; /* to center text!!*/
  margin:0px;
  padding:4px;
  border : 3px solid var(--grey);
  justify-content: center;
  font-size: 3rem;
  text-align: center;
  text-justify: center;
  margin: 3px;
  background-color: rgb(249, 248, 244);
  border-radius: 8px;

}

a{
  display: flex;
  align-content: center;
}